<app-menu></app-menu>
<div>
  <h1>Materials</h1>
  <p>Logged in as: {{ user }}</p>
  <ul>
    <li *ngFor="let material of materials">
      <span>{{ material.name }} - ${{ material.price }}</span>
      <button (click)="deleteMaterial(material.id)">Delete</button>
      <input type="text" [(ngModel)]="material.name" placeholder="Name" />
      <input type="text" [(ngModel)]="material.description" placeholder="Description" />
      <input type="number" [(ngModel)]="material.price" />
      <input type="file" (change)="onFileChange($event, material)" />
      <button (click)="updateMaterial(material.id, material.name, material.description, material.price, material.selectedFile)">Update</button>
    </li>
  </ul>
</div>
