<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navbar-brand">
      <a href="/main-page"><img src="/Logo.png" alt="Logo" height="30"></a>
    </div>
<!--    &lt;!&ndash; Search Bar &ndash;&gt;-->
<!--    <div class="navbar-search">-->
<!--      <input type="text" placeholder="Search" class="form-control" />-->
<!--    </div>-->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/notification.png" alt="Notification icon" class="navbar-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart"><img src="/cart.png" alt="Cart icon" class="navbar-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile"><img src="/user%20(1).png" alt="User icon" class="navbar-icon"></a>
      </li>
    </ul>
  </div>
</nav>
