<div class="container">
  <section class="wrapper">
    <div class="form signup">
      <header>Signup</header>
      <form action="#">
        <input type="text" placeholder="Full name" [(ngModel)]="user.username" name="username" required />
        <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" required />
        <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required />
        <div class="checkbox">
          <input type="checkbox" id="signupCheck" required/>
          <label for="signupCheck">I accept all terms & conditions</label>
        </div>
        <input type="submit" (click)="onSignUp()" value="Signup" />
      </form>
    </div>
    <div class="form login">
      <header>Login</header>
      <form action="#">
        <input type="text" placeholder="Email address" required />
        <input type="password" placeholder="Password" required />
        <a href="#">Forgot password?</a>
        <input type="submit" (click)="onLogIn()" value="Login" />
      </form>
    </div>
  </section>
</div>

