<div class="profile-container">
  <div class="header">
    <div class="profile-pic">
      <img src="/user.png" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h1 class="user-name">{{profile.firstName}} {{profile.lastName}}</h1>
      <button class="edit" (click)="toggleEditForm()">Edit profile</button>
      <button class="create" (click)="toggleCreateMaterialForm()">Create lot</button>
      <button class="logout" (click)="onLogout()">Logout</button>
    </div>
  </div>
  <ng-template #Edit class="edit-template">
    <div class="right-pane">
      <h2>Edit Profile</h2>
      <form>
        <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" [(ngModel)]="profile.firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" [(ngModel)]="profile.lastName" name="lastName" required>
      </div>
      <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="profile.description" name="description" required></textarea>
      </div>
      <button type="submit" (click)="onUpdate()">Save</button>
      <button type="button" (click)="toggleEditForm()">Cancel</button>
    </form>
    </div>
  </ng-template>
  <ng-template #Create>
    <div class="container">
      <div class="right-pane">
        <h2>Create lot</h2>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="material.name" id="name" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select [(ngModel)]="material.type" class="type" name="type">
              <option value="Texture">Texture</option>
              <option value="Mockup">Mockup</option>
              <option value="Icon">Icon</option>
            </select>
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" [(ngModel)]="material.description" id="desc" placeholder="Description" name="description">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" [(ngModel)]="material.price" id="price" placeholder="Price" name="price">
          </div>
          <button type="submit" class="btn" (click)="onCreateMaterial()">Create lot</button>
        </form>
      </div>
    </div>
  </ng-template>
  <ng-template #Info>
    <div class="stats">
    <div>
      <strong>215</strong>
      <p>Lots</p>
    </div>
    <div>
      <strong>745</strong>
      <p>Followers</p>
    </div>
    <div>
      <strong>340</strong>
      <p>Following</p>
    </div>
  </div>
    <div class="about">
      <h2>About</h2>
      <p>{{profile.description}}</p>
    </div>
    <div class="recent-photos">
      <h2>All lots</h2>
      <a href="/material">View all</a>
      <div class="photos">
        <texture-cards></texture-cards>
      </div>
    </div>
  </ng-template>
  <div *ngIf="isCreateFormVisible else Create" class="edit-form">
  </div>
  <div *ngIf="isEditFormVisible else Edit" class="edit-form">
</div>
  <div *ngIf="isStatFormVisible else Info" class="edit-form">
  </div>
</div>


