<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navbar-brand">
      <a href="#">Logo</a>
    </div>
    <!-- Search Bar -->
    <div class="navbar-search">
      <input type="text" placeholder="Search" class="form-control" />
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/notification.png" alt="Notification icon" class="navbar-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart"><img src="/cart.png" alt="Cart icon" class="navbar-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile"><img src="/user%20(1).png" alt="User icon" class="navbar-icon"></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <ul class="type-list">
    <li class="type-item">
      <div class="type-section">
        <a class="type-link" href="#">
          <img src="/texture-icon.png" alt="Texture logo" class="type-link-logo">
          Textures
        </a>
        <div class="texture-cards">

        </div>
      </div>
    </li>
    <li class="type-item">
      <div class="type-section">
        <a class="type-link" href="#">
          <img src="/mockup.png" alt="Mockup logo" class="type-link-logo">
          Mockups
        </a>
      </div>
    </li>
    <li class="type-item">
      <div class="type-section">
        <a class="type-link" href="#">
          <img src="/svg.png" alt="Icons logo" class="type-link-logo">
          Icons
        </a>
      </div>
    </li>
  </ul>
  <div class="product-cards-container">
    <texture-cards [type]="'Textures'" [cards]="textures"></texture-cards>
  </div>
</div>
