<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navbar-brand">
      <a href="#">Logo</a>
    </div>
    <!-- Search Bar -->
    <div class="navbar-search">
      <input type="text" placeholder="Search"/>
    </div>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/notification.png" alt="Notification icon" class="navbar-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="/cart.png" alt="Cart icon" class="navbar-icon"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile"><img src="/user.png" alt="User icon" class="navbar-icon"></a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    <!-- Links -->
    <ul class="type-list">
      <li class="type-item">
        <a class="type-link" href="#">
          <img src="/texture-icon.png" alt="Texture logo" class="type-link-logo">
          Textures
        </a>
      </li>
      <li class="type-item">
        <a class="type-link" href="#">
          <img src="/mockup.png" alt="Mokcup logo" class="type-link-logo">
          Mockups
        </a>
      </li>
      <li class="type-item">
        <a class="type-link" href="#">
          <img src="/svg.png" alt="Icons logo" class="type-link-logo">
          Icons
        </a>
      </li>
    </ul>
  </div>
<div>
  <texture-cards></texture-cards>
</div>



